.link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--netflix-border-radius) var(--netflix-border-radius) 0 0;
}

.info_container {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  padding: 7px 10px;
  font-size: 0.8vw;

  color: var(--netflix-white);
  background-color: var(--netflix-darkgray);
  border-radius: 0 0 var(--netflix-border-radius) var(--netflix-border-radius);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
